.dup-compare-container {
  max-width: 1000px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.dup-compare-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #262626;
  padding-left: 20px
}

.compare-results-container {
  min-height: 500px;
  position: relative;
}

.vote-panel-container {
  display: flex;
  position: sticky;
  bottom: 10px;
  left: 0;
  right: 0px;
  min-height: 50px;
}

.floating-vote-panel {
  height: 100%;
  padding: 10px;
  border-radius: 8px;
  background-color: white;
  border: 0.5px solid grey;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
}

.compare-btn {
  max-height: 36px;
  display: flex;
  font-family: inherit;
  align-items: center;
}

.compare-content-container {
  border-radius: 15px;
  box-shadow: 0px 0px 20px 2px lightgray;
}

span {
  font-weight: 400 !important;
}

.text-bold {
  font-weight: bolder;
}

.text-underline {
  text-decoration: underline;
}

.social-share-btn {
  width: 24px;
  height: 24px;
}

.compare-item-info {
  display: none;
  width: 50px;
}

.compare-item:hover {
  background-color: #f2f2f2;
}

.vote-bloc-div {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}

.mb-vote-bloc-div {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.vote-btn-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mb-vote-btn-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}


/* .compare-item:hover .compare-item-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: -50px;
  z-index: 9;
  box-shadow: -5px 0px 5px 1px #aaaaaa;
  background-color: whitesmoke;
} */

/* @media only screen and (max-width: 768px) {
  .page-content {
    max-width: 650px !important;
    min-width: 600px !important;
  }

  .dup-compare-title {
    font-size: 30px !important;
  }
} */