.dup-compare-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.dup-compare-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #262626;
}

.compare-btn {
  max-height: 36px;
  display: flex;
  font-family: inherit;
  align-items: center;
}

span {
  font-weight: 400 !important;
}

.text-bold {
  font-weight: bolder;
}

.text-underline {
  text-decoration: underline;
}

.social-share-btn {
  width: 24px;
  height: 24px;
}

.compare-item-info {
  display: none;
  width: 50px;
}

.compare-item:hover {
  background-color: #f2f2f2;
}

/* .compare-item:hover .compare-item-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: -50px;
  z-index: 9;
  box-shadow: -5px 0px 5px 1px #aaaaaa;
  background-color: whitesmoke;
} */

@media only screen and (max-width: 768px) {
  .page-content {
    max-width: 650px !important;
    min-width: 600px !important;
  }

  .dup-compare-title {
    font-size: 30px !important;
  }
}